.responsive
{
    background-color: black;
    color:green;
    height:100px;
    font-size: 20px;
}
.responsive1
{
    background-color: red;
    color: green;
    height: 100px;
    font-size:20px;
}